<div class="home-banner">
  <h1>Mr Cocktail</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>



<div class="fixing-the-card">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path(cocktail.image_url) %>)">
      <p><%= cocktail.name %><p>

      </div>
      <% end %>
    <% end %>
  </div>



