
<div class="getting-margin">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, label_html: { class: 'input-color' }  %>
      <%= f.input :description, label_html: { class: 'input-color' }, hint: 'size/ volume of each ingredient' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>




